// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  background: white !important;
}

div {
  border: 1px solid black;
}

h1 {
  font-size: 2em !important;
  letter-spacing: 0.15em;
}

h2 {
  font-size: 2em !important;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 1em !important;
  letter-spacing: 0.15em;
}

p {
  font-size: 12px !important;
  letter-spacing: 0.15em;
}

.center {
  text-align: center;
}

.light-text {
  font-weight: lighter;
  opacity: 0.5;
}
