.home-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto 120vh auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
}

// ------------------- HOME BANNER ------------------- //

.home-banner-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.img-1 {
  background: image-url('home-img-1');
}

.img-2 {
  background: image-url('home-img-2');
}

.home-banner-img {
  height: 110vh;
  background-position: center;
  background-size: cover;
}

.home-banner-content {
  order: -1;
  height: 110vh;
  color: white;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1em;
}

.logo {
  background: image-url('logo');
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20%;
}

.white-line {
  height: 0.2em;
  margin: 10% 0;
  width: 25%;
  background: image-url('white_line');
  background-position: center;
  background-size: cover;
}

.home-btn {
  border: 1px solid white;
  background: none;
  color: white;
  margin-top: 20%;
  margin-bottom: 10vh;
  padding: 8px 16px;
}

.home-btn:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.arrow-icon:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}



// ------------------- NOX BANNER ------------------- //

.nox-banner-container {
  display: flex;
  align-items: center;
  // background: #F5F5F5;
}

.nox-banner {
  padding: 20vh 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('nox-background');
  background-position: center;
  background-size: cover;
}

.nox-banner-content {
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nox-title {
  font-size: 4em !important;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}

.nox-description {
  font-size: 0.8em !important;
  width: 40%;
  min-width: 200px;
  line-height: 2;
}

// ------------------- TUNES ------------------- //
.tunes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tune-container {
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  // width: 90%;
  // background: #F5F5F5;
}

.tune-img-1 {
  background: image-url('harmonys-dub');
}

.tune-img-2 {
  background: image-url('puppeteer-img');
}

.tune-img-3 {
  background: image-url('aspire-img');
}

.tune-img-4 {
  background: image-url('streets-img-2');
}

.tune-img-5 {
  background: image-url('before_the_storm-img');
}

.tune-img-6 {
  background: image-url('hotel-cal-img');
}

.tune-img-7 {
  background: image-url('give-it-img');
}

.tune-img-8 {
  background: image-url('flow-img');
}

.tune-img {
  // width: 100%;
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.order-2 {
  order: 2;
}

.tune-content {
  height: 100vh;
  padding: 2em 1em;
  background: white;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F5F5F5;
  // align-items: center;
}

.tune-description {
  margin-top: 0.5em;
}

.tune-content-info {
  padding-bottom: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tune-caption {
  font-size: 1.2em !important;
  padding-top: 2em;
  padding-bottom: 2em;
}

.tune-audio-clip {
  padding-bottom: 5em;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
}

// ------------------- MEDIA QUERIES ------------------- //


@media screen and (min-width: 600px) {

  .home-banner-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 30% 1fr;
  }

  .home-banner-content {
    order: 0;
  }

  .nox-banner {
    background-attachment: fixed;
  }

  .tune-img-border {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}

  .tune-container {
    flex-direction: row;
    width: 100%;
  }

  .order-2 {
    order: -1;
  }

  .tune-img {
    width: 92%;
    height: 90%;
  }

  .tune-content {
    width: 50%;
    padding: 0 2em;
  }
}

@media screen and (min-width: 1000px) {
  .tune-container {
    width: 90%;
    // background: #F5F5F5;
  }

  .tune-img-border {
    width: 65%
  }

  .tune-content {
    width: 35%;
  }
}

