.home-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto 100vh auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
}

.home-banner-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.img-1 {
  background: image-url('home-img-1');
}

.img-2 {
  background: image-url('home-img-2');
}

.home-banner-img {
  height: 110vh;
  background-position: center;
  background-size: cover;
}

.home-banner-content {
  color: white;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  background: image-url('logo');
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20%;
}

.white-line {
  height: 0.2em;
  margin: 10% 0;
  width: 25%;
  background: image-url('white_line');
  background-position: center;
  background-size: cover;
}

.home-btn {
  border: 1px solid white;
  color: white;
  margin-top: 20%;
  margin-bottom: 15%;
}

@media screen and (min-width: 800px) {
  .home-banner-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 30% 1fr;
  }
}
